/* @media (max-width:1140px) {
    .image-3{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;

    }

    .wwd1{
        justify-self: center;
    }
    .wwd3{
        justify-self: center; 
    }
    
} */
